* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

header {
    background-image: url("https://builtin.com/cdn-cgi/image/f=auto,quality=80,width=752,height=435/https://builtin.com/sites/www.builtin.com/files/styles/byline_image/public/2022-06/tech-ai-tools.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #363636;
    padding: 20px;
}

body {
    background-image: linear-gradient(beige, #363636);
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.portfolio-flex {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-flex-item {
    flex: 1 0 33%;
    box-sizing: border-box;
    padding: 2.5rem;
}

footer {
    background-color: #363636;
    text-align: center;
    color: white;
    height: 2.5rem;
    margin-top: auto;
    padding: 2.5rem;
}
